/**
 * Site header
 */
.site-header {
    min-height: $line-height;
    @include background($brown-color-light, $background-color);

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-family: Rockwell, serif;
    font-size: 28px;
    font-weight: 900;
    line-height: $line-height;
    letter-spacing: 1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $brown-color-dark;
    }
}

.site-nav {
    font-family: Rockwell, serif;
    letter-spacing: 1px;
    float: right;
    line-height: $line-height;
    font-weight: 900;

    .menu-icon {
        display: none;
    }

    .page-link {
        @include background($background-color, $border-color);
        color: $brown-color-dark;
        line-height: $base-line-height;
        border: 1px solid #000;
        border-radius: 20px;
        padding: 5px 10px;
        margin-top: 10px;
        box-shadow: 5px 5px 5px #ccc;

        &:hover {
            @include background($border-color, $background-color);
        }

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        @include background($background-color, $border-color);
        border: 1px solid $brown-color-light;
        border-radius: 10px;
        text-align: right;
        margin-top: 0;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $brown-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            border: none;
            border-radius: 0;
            margin-top: 0;
            background: none;
            box-shadow: none;

            &:hover {
                background: none;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    @include background($background-color, #9db2a1);

}

.footer-heading {
    font-size: 14px;
    font-weight: 900;
    color: $brown-color-dark;
    margin-bottom: $spacing-unit / 3;
    border-bottom: 2px dotted $text-color;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 12px;
    color: $brown-color-dark;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $brown-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: 0;
}

.post-title {
    font-size: 28px;
    color: $brown-color-dark;
    border-bottom: 2px dotted $brown-color-dark;
    letter-spacing: 1px;
    line-height: 2;

    @include media-query($on-laptop) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: 0;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 28px;

        @include media-query($on-laptop) {
            font-size: 24px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
